<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.libertyhacks.mutual.liberty.care">

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activities.GetStartedActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.DriverLicenseActivity" />
        <activity android:name=".activities.TakeLicensePictureAcitivity" />
        <activity android:name=".activities.InputLicenseInfoActivity" />
        <activity android:name=".activities.UserProfileActivity" />
        <activity android:name=".activities.AddCarsActivity" />
        <activity android:name=".activities.EnterCarInfoActivity" />
        <activity android:name=".activities.YourCarsActivity" />

        <service
            android:name=".services.StepCounterAndDetectActivityService"
            android:exported="false"></service>
    </application>

</manifest>